@import 'tailwindcss';

@theme {
  --color-primary: oklch(15% 0.04 285);
  --color-primary-light: oklch(80% 0.077 290);
  --color-secondary: oklch(22% 0.008 308);
  --color-secondary-100: oklch(22% 0.008 308 / 0.1);
  --color-secondary-light: oklch(90% 0.01 325);
  --color-secondary-light-100: oklch(90% 0.01 325 / 0.1);
  --color-cta: oklch(58% 0.18 141);
  --color-ctext: oklch(22% 0.008 308);
  --color-ctext-light: oklch(90% 0.01 325);
  /* ... */
}

body {
  color: oklch(58.319% 0.18576 141.036);
}
